.container
	.jumbotron
		h1 Ima Monsta
		p Saludos desde esta aplicacion MEAN (Mongo Express Angular Node)

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")